/* Utils */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bodyWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 20px;
}

.notFoundWrapper h4 {
  text-align: center;
}

.bodyContentWrapper {
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 20px 0;
  background-color: #53354a;
}

.headerWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}

.logoWrapper {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.logoWrapper p {
  color: #fff;
}

.logoWrapper img {
  width: 250px;
}

.logoSign {
  margin-bottom: 18px;
  margin-left: 5px;
}

.menuItem {
  border-left: 1px solid #fff;
}

.menuItem a {
  padding: 10px 18px;
  font-size: 1rem;
  color: #eeeeee;
}

.menuContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.menuWprapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-items: center;
}

.coinContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.coinWrapper {
  width: 100%;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.coinItemWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerCoin {
  margin-bottom: -10px;
  width: 50px;
  z-index: 2;
  box-shadow: 0px 3px 10px 0px #2b2e4a;
  border-radius: 50%;
}

.coinPriceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coinPriceWrapper h2 {
  padding: 0 5px;
}

.dataWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #53354a;
  padding: 40px 0;
  gap: 20px;
  box-shadow: 0px 0px 10px 0px #2b2e4a;
  transition: 200ms;
}

.dataWrapper:hover {
  transition: 200ms;
  box-shadow: 0px 3px 10px 0px #2b2e4a;
}

.codeWrapper {
  width: 100%;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.graphWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.currentPriceWrapper {
  width: 100%;
  max-width: 85%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.heroContainer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.herowrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
  gap: 20px;
}

.heroItemWrapper {
  width: 100%;
  border: 1px solid #53354a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #2b2e4a;
}

.heroTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0 5px;
  border-bottom: 1px solid #53354a;
  background-color: #53354a;
  color: #eeeeee;
  gap: 5px;
}

.heroValue {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  gap: 5px;
}

.arrow {
  width: 10px;
}

.same_val {
  fill: #53354a;
}

.down_val {
  fill: #f55c47;
  transform: rotate(90deg);
}

.up_val {
  fill: #4aa96c;
  transform: rotate(-90deg);
}

.chartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateAndTimeWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  padding: 20px 0;
}

.dateAndTimeWrapper p {
  padding: 10px;
  background-color: #2b2e4a;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
}

.chartContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chartCol {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background: #2b2e4a;
  border-radius: 5px;
  color: #eeeeee;
}
.info td {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eeeeee;
}

.currenciesWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  border: 1px solid #53354a;
  border-radius: 5px;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #53354a;
}

.contentWrapper p {
  padding: 0 5px;
  color: #393e46;
}

.contentWrapper a {
  padding: 0 5px;
  color: #393e46;
}

.contentWrapper img {
  width: 25px;
}

.onlyMobile {
  display: none;
}

.converterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.formWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  grid-gap: 30px;
  gap: 30px;
  padding: 15px;
  border: 1px solid #53354a;
  border-radius: 5px;
}

.formWrapper h2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  background-color: #53354a;
  padding: 8px 0;
  border-radius: 5px;
  color: #fff;
}

.optionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  place-items: center;
  gap: 40px;
}

.optionsWrapper input {
  width: 70%;
  height: 30px;
  border: 1px solid #53354a;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1rem;
}

.optionsWrapper input:focus {
  outline: none;
  border-color: #4aa96c;
}

.optionsWrapper select {
  width: 70%;
  height: 30px;
  border: 1px solid #53354a;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1rem;
}

.optionsWrapper select:focus {
  outline: none;
  border-color: #4aa96c;
}

.optionsWrapper h3 {
  width: 10%;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #53354a;
}

.footerWrapper {
  padding: 40px 0;
  width: 100%;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.linksItem a {
  color: #eeeeee;
}

.policyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.policyItem a {
  color: #eeeeee;
}

.socialWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.socialItem a img {
  width: 30px;
}

.copyright {
  padding: 20px 0;
  color: #eeeeee;
}

/* Policy page style */

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 60px 0;
}

.policyContent {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 60px;
}

.policyHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 25px;
}

.section_1 {
  gap: 20px;
}

.section_2 {
  gap: 35px;
}

.sectionContent {
  line-height: 1.5em;
  font-size: 14px;
}

.special {
  font-style: italic;
}

.special strong {
  margin-right: 5px;
}

.subSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subSectionContent {
  width: 100%;
  max-width: 90%;
  align-self: flex-end;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  list-style-position: inside;
}

.sectionContent a {
  color: #903749;
}

.sectionContent a:focus {
  color: #e84545;
}

/* disclaimer page */

.desclimarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
}

.deslimarWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: flex-start;
  gap: 30px;
}

.deslimarWrapper p {
  line-height: 30px;
  font-size: 14px;
}

/* Back to top arrow */

.back-to-top {
  display: none;
  opacity: 0.3;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 4;
}

.back-to-top a img {
  width: 45px;
}

.back-to-top:hover {
  opacity: 1;
}

/* footer logo  */

.logCopyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: flex-start;
}

.footerLogoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: flex-start;
}

.footerLogoWrapper img {
  width: 180px;
}

.footerLogoWrapper p {
  color: #fff;
  font-size: 14px;
}

.hideDesktop {
  display: none;
}

/* about page  */

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.aboutWrapper {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}

.aboutHeroWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}
.aboutHeroTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.aboutHeroTextWrapper h1 {
  font-size: 50px;
  color: #53354a;
}

.aboutHeroTextWrapper p {
  color: #575a89;
}

.aboutHeroWrapper img {
  width: 500px;
}
.aboutDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 130px 0px;
}

.aboutDecriptionText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.aboutDecriptionText h2 {
  font-size: 30px;
  color: #333333;
}

.aboutDecriptionText p {
  color: #777777;
}

.figureWrapper {
  width: 50%;
  position: relative;
}

.shot_img img {
  width: 180px;
}

.figureTransition:hover {
  z-index: 5;
  transform: translateY(-10px);
  transition: 400ms ease-out;
}
.figureTransition {
  transition: 400ms ease-out;
}

.figureItem_1 {
  position: absolute;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fdfdfd;
  right: 80px;
  top: -10rem;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 15%);
  z-index: 3;
}

.figureItem_2 {
  position: absolute;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #903749;
  right: 305px;
  top: -5rem;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 15%);
  z-index: 2;
}

.figureItem_3 {
  position: absolute;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e84545;
  right: 355px;
  top: -12rem;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 15%);
  z-index: 1;
}

.figureItem_4 {
  position: absolute;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  right: 100px;
  top: 2rem;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 15%);
  animation: reveal 5s infinite ease-out;
}

.figureItem_4 p {
  font-size: 14px;
  color: #53354a;
  opacity: 0;
  animation: textReveal 5s infinite ease-out;
}

@keyframes textReveal {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #fff;
  }
  50% {
    background-color: #eeeeee;
  }
  75% {
    background-color: #eeeeee;
  }
  90% {
    background-color: #eeeeee;
  }
  100% {
    background-color: #fff;
  }
}

.figureItem_4 img {
  width: 400px;
  transform: scale(0.5);
  opacity: 0;
  animation: logoReveal 5s infinite ease-in-out;
}

@keyframes logoReveal {
  0% {
    opacity: 0;
    transform: scale(0.5);
    border-radius: 50%;
  }
  25% {
    transform: scale(1);
    opacity: 1;
    border-radius: 0;
  }
  35% {
    transform: translateY(-10px) scale(1);
    opacity: 1;
    border-radius: 0;
  }
  50% {
    transform: translateY(-10px) scale(1);
    opacity: 1;
    border-radius: 0;
  }
  90% {
    transform: translateY(-10px) scale(1);
    opacity: 1;
    border-radius: 0;
  }

  99% {
    transform: translateY(-10px) scale(1);
    opacity: 0;
    border-radius: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
    border-radius: 50%;
  }
}

/*  graph page style */

.priceCodeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media quary for mobile */
/*  */
/*  */
/*  */
/*  */

@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .logCopyright {
    width: 100%;
    max-width: 90%;
  }

  .logoWrapper img {
    width: 125px;
  }

  .logoWrapper p {
    font-size: 0.75rem;
  }

  .herowrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menuItem a {
    padding: 0;
    border: none;
    border-style: none;
    border-color: none;
    background-color: transparent;
    color: #fff;
  }

  .menuContainer {
    flex-direction: row;
    justify-content: flex-end;
  }

  .mobileMenuBtn {
    display: block;
    color: transparent;
    background-color: transparent;
    border: none;
  }
  .mobileMenuBtn svg {
    width: 30px;
  }

  .mobileMenuContainer {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #53354a;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 95px;
    padding: 20px 0;
    right: 0;
    z-index: 6;
    transform: translateX(390px);
    transition: 300ms;
  }
  .menuFirtActive {
    display: flex;
  }
  .menuActive {
    transform: translateX(0);
  }

  .menuWrapper {
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: flex-start;
  }

  .menuItemMobile {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .menuItemMobile a {
    color: #fff;
    padding: 10px 200px 10px 0;
  }

  .menuItemMobile span {
    color: #fff;
  }

  .animationRight {
    animation: smallBar 700ms;
  }

  @keyframes smallBarr {
    0% {
      transform: translateX(0);
      width: 603px;
    }
    100% {
      transform: translateX(700px);
      width: 220px;
    }
  }

  .animationLeft {
    animation: bigBar 700ms;
  }

  @keyframes bigBar {
    0% {
      transform: translateX(0);
      width: 217px;
    }
    100% {
      width: 560px;
      transform: translateX(-700px);
    }
  }

  .coinWrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "first second"
      "third third";
  }

  .grid_0 {
    grid-area: first;
  }
  .grid_1 {
    grid-area: second;
  }

  .grid_2 {
    grid-area: third;
  }
  .dataWrapper {
    padding: 15px 0;
  }

  .currentPriceWrapper h2 {
    font-size: 1rem;
  }
  .codeWrapper h2 {
    font-size: 0.8rem;
    font-weight: 100;
  }

  .dateAndTimeWrapper {
    font-size: 9px;
  }

  .chartCol {
    font-size: 0.7rem;
  }

  .optionsWrapper {
    flex-direction: column;
    place-items: flex-start;
    padding: 10px 0;
  }

  .optionsWrapper select {
    width: 100%;
    margin: 10px 0;
  }

  .optionsWrapper input {
    width: 100%;
    margin: 10px 0;
  }

  .optionsWrapper h3 {
    width: 0;
  }

  .contentWrapper img {
    width: 20px;
  }

  .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .linksItem {
    padding: 15px 0;
  }

  .policyItem {
    padding: 15px 0;
  }

  .socialItem {
    gap: 20px;
    padding: 0 12px;
  }

  .hideMobile {
    display: none;
  }
  .hideDesktop {
    display: flex;
  }

  /* Back to top arrow */

  .back-to-top {
    display: none;
    opacity: 0.3;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 4;
  }

  .back-to-top a img {
    width: 35px;
  }

  .navWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* about page mobile */

  .aboutHeroWrapper {
    flex-direction: column;
    gap: 30px;
  }

  .aboutHeroTextWrapper h1 {
    font-size: 30px;
  }

  .aboutDecriptionText h2 {
    font-size: 20px;
  }

  .aboutHeroWrapper img {
    width: 300px;
  }

  .aboutDescription {
    width: 100%;
    flex-direction: column;
    padding: 60px 0px;
    padding-bottom: 350px;
  }

  .aboutDecriptionText {
    width: 100%;
  }

  .figureWrapper {
    width: 100%;
  }

  .shot_img img {
    width: 100px;
  }

  .figureItem_1 {
    width: 180px;
    height: 130px;
    right: 0;
    top: 4rem;
  }

  .figureItem_2 {
    width: 180px;
    height: 130px;
    right: 120px;
    top: 10rem;
  }

  .figureItem_3 {
    width: 180px;
    height: 130px;
    right: 160px;
    top: 4rem;
  }

  .figureItem_4 {
    width: 300px;
    height: 150px;
    right: 20px;
    top: 16rem;
  }

  .figureItem_4 img {
    width: 200px;
  }
}

/* Loading animation */

.loadingWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
}

.loadingWrapper p {
  z-index: 9;
  text-align: center;
  animation: breath 1s infinite;
}
.loadingWrapper h1 {
  text-align: center;
  color: #e84545;
}

@keyframes breath {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading-screen {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading span {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
}

.loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  background-color: #2b2e4a;
  transform-origin: bottom right;
}

.loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: #e84545;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}

.loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: #903749;
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #53354a;
  transform-origin: top left;
  animation-delay: 1s;
}
